*.pyc
.settings/
/apt_offline_gui/Ui_*.py
/apt_offline_gui/resources_rc.py
# pixi environments
.pixi
*.egg-info
# magic environments
.magic
# Temporary download files from tests
*.tmp
*_download.bin
*_download.txt
concurrent_*.bin
concurrent_*.txt
