[Desktop Entry]
Type=Application
Name=APT Offline
GenericName=APT Offline
Comment=Offline APT Package Management
Exec=apt-offline-gui-pkexec
Categories=System;
