Source: apt-offline
Section: unknown
Priority: extra
Maintainer: Ritesh Raj Sarraf <rrs@researchut.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: apt-offline
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
