Source: apt-offline
Section: admin
Priority: optional
Maintainer: Ritesh Raj Sarraf <rrs@debian.org>
Build-Depends: debhelper (>= 10), python3-setuptools, python3-all, dh-python
X-Python3-Version: >= 3.2
Standards-Version: 3.9.8
Homepage: https://github.com/rickysarraf/apt-offline
Vcs-Git: https://anonscm.debian.org/git/apt-offline/apt-offline.git
Vcs-Browser: https://anonscm.debian.org/cgit/apt-offline/apt-offline.git

Package: apt-offline
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, apt, less, python3-magic
Recommends: debian-archive-keyring, python3-debianbts
Description: offline APT package manager
 apt-offline is an Offline APT Package Manager.
 .
 apt-offline can fully update and upgrade an APT based distribution without
 connecting to the network, all of it transparent to APT.
 .
 apt-offline can be used to generate a signature on a machine (with no network).
 This signature contains all download information required for the APT database
 system. This signature file can be used on another machine connected to the
 internet (which need not be a Debian box and can even be running windows) to
 download the updates.
 The downloaded data will contain all updates in a format understood by APT and
 this data can be used by apt-offline to update the non-networked machine.
 .
 apt-offline can also fetch bug reports and make them available offline.

Package: apt-offline-gui
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, apt-offline (= ${binary:Version}),
 python3-pyqt5
Description: offline APT package manager - GUI
 apt-offline is an Offline APT Package Manager.
 .
 apt-offline can fully update and upgrade an APT based distribution without
 connecting to the network, all of it transparent to APT.
 .
 apt-offline can be used to generate a signature on a machine (with no network).
 This signature contains all download information required for the APT database
 system. This signature file can be used on another machine connected to the
 internet (which need not be a Debian box and can even be running windows) to
 download the updates.
 The downloaded data will contain all updates in a format understood by APT and
 this data can be used by apt-offline to update the non-networked machine.
 .
 apt-offline can also fetch bug reports and make them available offline.
 .
 This package contains the graphical user interface to apt-offline.
