#!/usr/bin/make -f

build:
	dh_testdir
	python setup.py build

	touch $@

clean:
	dh_testdir
	dh_testroot

	python setup.py clean
	rm -f *.pyc

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	python setup.py install --root $(CURDIR)/debian/apt-offline

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_pysupport
	dh_compress -Xexamples
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install get-orig-source
